tests/data.h5 filter=lfs diff=lfs merge=lfs -text
tests/data.wdm filter=lfs diff=lfs merge=lfs -text
tests/data_end.daily.csv filter=lfs diff=lfs merge=lfs -text
tests/data_period.bivl.csv filter=lfs diff=lfs merge=lfs -text
tests/data_period.daily.csv filter=lfs diff=lfs merge=lfs -text
tests/data_start.monthly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_start.yearly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_wdm_1.csv filter=lfs diff=lfs merge=lfs -text
tests/data_end.monthly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_simple.csv filter=lfs diff=lfs merge=lfs -text
tests/data_bi_daily.csv filter=lfs diff=lfs merge=lfs -text
tests/data_end.yearly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_period.monthly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_period.yearly.csv filter=lfs diff=lfs merge=lfs -text
tests/data_start.bivl.csv filter=lfs diff=lfs merge=lfs -text
tests/data_start.daily.csv filter=lfs diff=lfs merge=lfs -text
tests/data_wdm_2.csv filter=lfs diff=lfs merge=lfs -text
tests/data_end.bivl.csv filter=lfs diff=lfs merge=lfs -text
